services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:

      MONGO_URI: mongodb://mongo:27017/posts_manager
      JWT_SECRET: JWT_SECRET
      PORT: 3000
    depends_on:
      - mongo

volumes:
  mongo_data:
